:root {
  --primary-color: #1966d2;
  --secondary-color: #f0f4fd;
  --dark-blue: #00004a;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #4c5563;
  --light-blue-color: #2e8dfb;
  --transition: all 300ms ease-in-out;

  --clr-blue: #1a91f0;
  --clr-blue-mid: #1170cd;
  --clr-blue-dark: #1a1c6a;
  --clr-white: #fff;
  --clr-bright: #eff2f9;
  --clr-dark: #1e2532;
  --clr-black: #000;
  --clr-grey: #656e83;
  --clr-green: #084c41;
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --transition: all 300ms ease-in-out;
}

body {
  font-family: "Inter", sans-serif !important;
}
#logo {
  width: 3rem;
}
/* text */
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-blue {
  color: var(--dark-blue) !important;
}
.text-grey {
  color: var(--grey-color);
}

/* backgrounds */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-light-blue {
  background-color: var(--light-blue-color);
}
.bg-thirdBackground {
  background-color: var(--white-color) !important;
}

/* buttons */
.btn-primary {
  background-color: var(--primary-color) !important;
}
.btn-secondary {
  background-color: var(--secondary-color) !important;
}

/* font weights */
.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

/* font size */
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}

/* line height */
.lh-16 {
  line-height: 1.6;
}
.lh-17 {
  line-height: 1.7;
}

/* padding and margin */
.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* section title */
.section-title p {
  max-width: 600px;
}

/* navbar */
.navbar {
  height: 90px;
  border-bottom: 2px solid #e7eefa;
}
.navbar-brand,
.site-logo {
  color: var(--primary-color) !important;
}
.navbar-brand .navbar-brand-text,
.site-logo-text {
  color: var(--dark-blue);
}
.navbar-toggler {
  border: none;
}
.btn-login {
  padding-top: 14px;
  padding-bottom: 14px;
  transition: var(--transition);
}
.btn-login:hover {
  background-color: #e7eefa !important;
  border-color: #e7eefa !important;
  color: var(--primary-color) !important;
}
.navbar-nav .dropdown-menu {
  border: none;
}
.navbar-nav .dropdown-item {
  margin: 8px 0;
  transition: var(--transition);
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #fff;
  color: var(--primary-color);
}
.navbar-nav .nav-item .nav-link.dropdown-toggle:hover {
  color: var(--primary-color) !important;
}

/* header */
.header {
  min-height: 100vh;
  /* background-color: var(--secondary-color); */
}
.header-banner {
  height: calc(100vh - 90px);
}
.header-banner h1 {
  max-width: 900px;
}
.header-banner .btn-banner {
  max-width: 280px;
}
#background-resume {
  background-color: var(--white-color);
}

/* steps */
.steps-item-icon {
  min-width: 65px;
  width: 65px;
  height: 65px;
  border-radius: 4px;
}

/* templates */
.template-item-img {
  max-width: 400px;
}
.template-item img {
  position: relative;
}
.template-item-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: var(--transition);
}
.template-item-img:hover::after {
  opacity: 1;
}
.template-item-img .choose-template-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--transition);
}
.template-item-img:hover .choose-template-btn {
  opacity: 1;
  z-index: 4;
}
.template-item-img .choose-template-btn:hover {
  background-color: var(--white-color) !important;
  color: var(--primary-color);
}

/* footer */
.copyright-text {
  border-top: 2px solid #e7eefa;
}

@media screen and (min-width: 992px) {
  .section-title .display-6 {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    padding: 25px;
    margin-top: 2px;
  }

  .navbar-nav .dropdown-menu {
    border-radius: 0 !important;
  }
}

/* resume page */
#about-sc {
  padding: 64px 0;
}

.cv-form-row-title {
  background-color: var(--clr-dark);
  padding: 0.8rem 1.6rem;
  margin-bottom: 2rem;
}

.cv-form-row-title h3 {
  color: var(--clr-white);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.7rem;
}
.cv-form-blk {
  margin: 3rem 0;
}
.cv-form-row {
  padding: 3rem 2rem 0 2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  position: relative;
}
textarea {
  resize: none;
}
.form-elem {
  margin-bottom: 3rem;
  position: relative;
}
.form-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: var(--clr-dark);
  margin-bottom: 0.5rem;
}
.form-control {
  border-radius: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  width: 100%;
  outline: 0;
  transition: var(--transition);
}

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
.form-text {
  color: #ca0b00;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0.5px;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
}
.cols-3,
.cols-2 {
  display: grid;
}
/*button for add and delete in create resume section */
.repeater-add-btn {
  width: 25px;
  height: 25px;
  background-color: var(--clr-blue-mid);
  font-size: 1.6rem;
  color: var(--clr-white);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repeater-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ca0b00;
  color: var(--clr-white);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* preview section */
.preview-cnt {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 32% auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.preview-cnt-l {
  padding: 3rem 3rem 2rem 3rem;
}
.preview-cnt-r {
  padding: 3rem 3rem 3rem 4rem;
}
.preview-cnt-l .preview-blk:nth-child(1) {
  text-align: center;
}
.preview-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-item-name {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1.8rem 0;
  position: relative;
}
.preview-item-name::after {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 50px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 50%;
  transform: translateX(-50%);
}
.preview-blk {
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.preview-blk-title h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 0.5rem;
}
.preview-blk-title {
  margin-bottom: 1rem;
}
.preview-blk-list .preview-item {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  opacity: 0.95;
}
.preview-cnt-r .preview-blk-title {
  color: var(--clr-dark);
}
.preview-cnt-r .preview-blk-list .preview-item {
  margin-top: 1.8rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child,
.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2) {
  font-weight: 600;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3) {
  font-style: italic;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.educations-items.preview-blk-list .preview-item span:nth-child(5),
.experiences-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(5) {
  margin-right: 1rem;
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 0 1rem;
  border-radius: 0.6rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(6),
.experiences-items.preview-blk-list .preview-item span:nth-child(6) {
  font-size: 13.5px;
  display: block;
  opacity: 0.8;
  margin-top: 1rem;
}
.projects-items.preview-blk-list .preview-item span {
  display: block;
}

@media screen and (min-width: 768px) {
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cv-form-row {
    padding: 3rem 3rem 0rem 3rem;
  }
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.print-btn-sc {
  margin: 2rem 0 6rem 0;
}

/* print section */
@media print {
  body * {
    visibility: hidden;
  }

  .non_print_area {
    display: none;
  }

  .print_area,
  .print_area * {
    visibility: visible;
  }

  .print_area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

#register-btn:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-control {
  font-size: 1.125em !important;
}

#logout-btn {
  min-width: auto;
}

#logout-btn:hover {
  background-color: #ca0b00;
}

#logout-field:hover {
  background-color: transparent;
  color: var(--white-color);
  transition: all 150ms ease-out;
  font-weight: 600;
}

#loginRegister {
  width: 50rem;
}
#cardLoginRegister {
  height: 40rem;
}
.inputTex {
  font-weight: bold;
}

/* UPDATE RESUME PART */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  z-index: 1100;
}

.close-btn {
  cursor: pointer;
  font-size: 18px;
  color: #333;
  float: right;
}

.blue-text {
  color: #00bcd4;
}

.form-control-label {
  margin-bottom: 0;
}

.form-group input,
.form-group textarea,
.form-group button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
}

.form-group input:focus,
.form-group textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}

.btn-block:hover {
  color: #fff !important;
}

.btn-block:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.general-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-card {
  background-color: white;
  border: 1px grey solid;
  border-radius: 8px;
  height: 100%;

  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.general-card p {
  margin: 0;
}

.add-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-more-btn button {
  color: blue;
  font-weight: 600;
  text-decoration: none;
}

.custom-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 3 * 1.2em;
  /* 3 lines * line height */
}

.aboutme--avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#logout-btn:hover {
  background-color: #e52016 !important;
}

#manage-btn:hover {
  background-color: #00bcd4 !important;
}

#createNew-btn:hover {
  background-color: #23d5ab !important;
}
